@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Areas/PersonalManger/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/PersonalManger/CSS/EntryPosition.css" rel="stylesheet" />
    <script src="~/Areas/PersonalManger/JS/jquery-1.3.1.js"></script>
    <script src="~/Areas/PersonalManger/JS/EntryPosition.js"></script>
    <title>Index</title>
    <script type="text/ecmascript">
        /*请求数据时带上职务参数   */
        $(function () {
            var oprate=$("#oprate").val();
            var role = $("#role").val();
            /*根据不同角色初始化表格*/
            $.Init(role, oprate);
        })
        $(function () {
            var role = $("#role").val();
            var oprate = $("#oprate").val();
            /*更改标题*/
            if (role == @MVC.Helper.Position.President)
                $("#head-nav-text").text(oprate + "总裁");
            if (role == @MVC.Helper.Position.Minister)
                $("#head-nav-text").text(oprate + "部长");
            if (role == @MVC.Helper.Position.StudyLeader)
                $("#head-nav-text").text(oprate + "团长");
            if (role == @MVC.Helper.Position.StudyMember)
                $("#head-nav-text").text(oprate + "团员");
            if (role == @MVC.Helper.Position.PlanLeader)
                $("#head-nav-text").text(oprate + "组长");
            if (role == @MVC.Helper.Position.PlanMmember)
                $("#head-nav-text").text(oprate + "组员");
            if (role == @MVC.Helper.Position.Financial)
                $("#head-nav-text").text(oprate + "财务主管");
            if (role == 10000)
                $("#head-nav-text").text(oprate + "部门成员");
            if (role == 10010)
                $("#head-nav-text").text(oprate + "技术指导");
        })
    </script>
</head>
<body style="font-family: 'Microsoft YaHei'; background-color: rgb(237,241,249)">
    <input type="hidden" value="@ViewBag.oprate" id="oprate"/>
    <input type="hidden" value="@ViewBag.num" id="role"/>
    <input type="hidden" value="IsPostBack" id="IsPostBack" />
    <input type="hidden" value="@ViewBag.urlfix" id="urlfix"/>
    <div style="margin: 20px auto; width: 1056px; background-color: white">
        <div class="head">
            <div class="head-nav">
                <div class="head-nav-img"></div>
                <div class="head-nav-text" id="head-nav-text">@ViewBag.oprate</div>
            </div>
        </div>
        @*------------------------------------中间搜索框-----------------------------------*@
        <div class="toolbar">
            <button class="btn btn-success btn-sm" id="entry" onclick="entry()">@ViewBag.oprate</button>
        </div>


        @* -------------------表格----------------------------------------------------------*@
        <div class="table-self">
            <table class="table-hover" id="table" style="font-family: 'Microsoft YaHei'">
                <thead>
                    <tr class="thead-tr">
                        <th id="head-th-first"></th>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>联系方式</th>
                        <th>专业</th>
                        <th>所属部门</th>
                        <th>职务</th>
                    </tr>
                </thead>
                <tbody id="body">
                </tbody>
            </table>
        </div>
        @*----------------------------------分页条--------------------------------------------------------------------*@
        <div style="width: 1056px; height: 35px; border: 1px RGB(166,199,203) solid; background-color: rgb(215,232,234)">
            <select class="select-pagesize ">
                <option>10</option>
            </select>
            <div class="div-line"></div>
            <a class="a-first" href="###"></a>
            <a class="a-pre" href="###"></a>
            <label class="lable-text">第</label>
            <span class="lable-page"></span>
            <label class="lable-text" style="margin-left: 5px">页</label>
            <label class="lable-text" id="lable-page-sum" style="margin-left: 5px"></label>
            <a class="a-next" href="###"></a>
            <a class="a-last" href="###"></a>
            <div class="div-line"></div>
            <a class="a-refresh" href="###"></a>
            <label class="lable-text-right">显示1到10，总计15条记录</label>
        </div>
    </div>
</body>
</html>
