@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>职位浏览</title>
</head>
<body style="font-family: 'Microsoft YaHei'; background-color: rgb(237,241,249)">
    <div style="margin: 0 auto; width: 1050px; margin-top: 20px">
        <div class="panel panel-default panel-danger">
            <!-- Default panel contents -->
            <div class="panel-heading">总裁</div>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>职务</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (MODEL.T_MemberInformation member in ViewBag.listPresident as List<MODEL.T_MemberInformation>)
                    { 
                        <tr>
                            <th scope="row">1</th>
                            <td>@member.StuNum</td>
                            <td>@member.StuName</td>
                            <td>@string.Join(" ", member.T_RoleAct.OrderBy(s => s.RoleId).Select(p => p.T_Role.RoleName).ToArray())</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="panel panel-default panel-danger">
            <!-- Default panel contents -->
            <div class="panel-heading">部长</div>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>姓名</th>
                        <th>学号</th>
                        <th>职位</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (MODEL.T_MemberInformation member in ViewBag.Minister as List<MODEL.T_MemberInformation>)
                    { 
                        <tr>
                            <th scope="row">1</th>
                            <td>@member.StuNum</td>
                            <td>@member.StuName</td>
                            <td>@string.Join(" ", member.T_RoleAct.OrderBy(s => s.RoleId).Select(p => p.T_Role.RoleName).ToArray())</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="panel panel-default panel-danger">
            <!-- Default panel contents -->
            <div class="panel-heading">顾问团团长</div>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>职务</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (MODEL.T_MemberInformation member in ViewBag.StudyLeader as List<MODEL.T_MemberInformation>)
                    { 
                        <tr>
                            <th scope="row">1</th>
                            <td>@member.StuNum</td>
                            <td>@member.StuName</td>
                            <td>@string.Join(" ", member.T_RoleAct.OrderBy(s => s.RoleId).Select(p => p.T_Role.RoleName).ToArray())</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="panel panel-default panel-danger">
            <!-- Default panel contents -->
            <div class="panel-heading">顾问团团员</div>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>职务</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (MODEL.T_MemberInformation member in ViewBag.StudyMember as List<MODEL.T_MemberInformation>)
                    { 
                        <tr>
                            <th scope="row">1</th>
                            <td>@member.StuNum</td>
                            <td>@member.StuName</td>
                            <td>@string.Join(" ", member.T_RoleAct.OrderBy(s => s.RoleId).Select(p => p.T_Role.RoleName).ToArray())</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="panel panel-default panel-danger">
            <!-- Default panel contents -->
            <div class="panel-heading">活动策划组组长</div>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>职务</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (MODEL.T_MemberInformation member in ViewBag.PlanLeader as List<MODEL.T_MemberInformation>)
                    { 
                        <tr>
                            <th scope="row">1</th>
                            <td>@member.StuNum</td>
                            <td>@member.StuName</td>
                            <td>@string.Join(" ", member.T_RoleAct.OrderBy(s => s.RoleId).Select(p => p.T_Role.RoleName).ToArray())</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="panel panel-default panel-danger">
            <!-- Default panel contents -->
            <div class="panel-heading">活动策划组组员</div>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>职务</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (MODEL.T_MemberInformation member in ViewBag.PlanMmember as List<MODEL.T_MemberInformation>)
                    { 
                        <tr>
                            <th scope="row">1</th>
                            <td>@member.StuNum</td>
                            <td>@member.StuName</td>
                            <td>@string.Join(" ", member.T_RoleAct.OrderBy(s => s.RoleId).Select(p => p.T_Role.RoleName).ToArray())</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="panel panel-default panel-danger">
            <!-- Default panel contents -->
            <div class="panel-heading">财务主管</div>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>职务</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (MODEL.T_MemberInformation member in ViewBag.Financial as List<MODEL.T_MemberInformation>)
                    { 
                        <tr>
                            <th scope="row">1</th>
                            <td>@member.StuNum</td>
                            <td>@member.StuName</td>
                            <td>@string.Join(" ", member.T_RoleAct.OrderBy(s => s.RoleId).Select(p => p.T_Role.RoleName).ToArray())</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

          <div class="panel panel-default panel-danger">
            <!-- Default panel contents -->
            <div class="panel-heading">技术指导</div>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>职务</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (MODEL.T_MemberInformation member in ViewBag.TechnicalGuide as List<MODEL.T_MemberInformation>)
                    { 
                        <tr>
                            <th scope="row">1</th>
                            <td>@member.StuNum</td>
                            <td>@member.StuName</td>
                            <td>@string.Join(" ", member.T_RoleAct.OrderBy(s => s.RoleId).Select(p => p.T_Role.RoleName).ToArray())</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
